body,html{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    height: 100%; 
    background: rgba(189, 195, 199,1.0);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
      
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(44, 62, 80,1.0);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px auto;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

p:first-child{
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
}
p:last-child{
    color: #fff;
    font-size: .8em;
    padding: 0 10px;
    line-height: 18px;

}

.container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(before.jpg);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform-origin: bottom;
    transition: all .35s cubic-bezier(.45,.74,.65,.66);
}

.container:hover:before{
    transform: rotateX(90deg) translateY(50%);
}

.container:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(before.jpg);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-position: 150px;
    transform-origin: top;
    transition: all .35s cubic-bezier(.45,.74,.65,.66);
}

.container:hover:after{
    transform: rotateX(90deg)  translateY(-50%);
}